{{> menu active="about"}}

<section class="box is-3 has-text-centered">
  <h3 class="title">
    WeatherTop
  </h3>
  <div class="section">
    WeatherTop is an application for recording weather readings taken from your personal weather station
  </div>
</section>